

<div class="jokeservice" style="border: 3px solid black">
    {{#each jokeservice}}
        <button value="{{jokeservice.address}}" onclick="{
          console.log('clicked {{jokeservice.name}}')
        }">
            {{jokeservice.name}}
        </button> <br>
    {{/each}}
</div>