<div class="jokeboxouter" style="border: 2px solid grey">
{{#each joke}}
            <div id="joke-{{this._id}}" class="jokeboxinner" style="border: 2px solid grey; padding: 2px"  >
                {{this.setup}} <br>
                <p class="joke-punchline" hidden id="{{this._id}}" >{{this.punchline}} </p>
            </div>
{{/each}}
</div>